@media only screen and (max-width:690px) {
    .blog-container {
        width: 310px;
        height: 500px;
    }

    .blog-box {
        padding: 10px;
    }

    .image-section {
        margin: 0;
        width: 275px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('illustration-article.svg');
        background-size: cover;
    }
    
    .content-section {
        width: 275px;
        padding: 10px 7px 0px 7px;
    }

    .section {
        padding: 9px 0px;
    }

    h2 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 0.8rem;
    }

    .line {
        line-height: 20px;
    }

}

@media only screen and (max-width:340px) {
    .blog {
        padding: 30px;
    }

    .blog-container {
        width: 285px;
    }

    .image-section , .content-section {
        width: 250px;
    }
}